p, span, h1, h2, h3, h4, button {
    color: white;
    font-family: Merriweather,sans-serif;

}

body {
    background-color: #212121;
}

.strongText {
    font-size: 1.2rem;
}

.main {
    margin-top: 25px;
}

.login {
    width: 25vw;
}

input {
    background-color: #c9c9c9;
    margin-right: 10px;
}

.button1 {
    background-color: black;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

.button1:hover {
    background-color: #2E2E2E;
   
}

table {
    border-spacing: 100px;    
}

td {
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

tr {
    margin-bottom: 10px;
}


@media screen and (max-width: 992px) {

    .login {
        width: 90vw;
    }

    table, tr {
        width: 100vw;
    }

    .button1 {
        display: block;
        margin: 0.2em auto;
    }



  }